@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>
<!--<h3>@ViewBag.Message</h3>-->
<!--<p>Use this area to provide additional information.</p>-->
<h3>Medicare is Australia’s health care system</h3>
<p>Medicare helps cover the cost of a range of medical services.</p>
<h3>How Medicare works</h3>
<p>
    We provide payments and services that can help when you, or someone you care for, use health care services or buy medicines.<br /><br />

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; If you’re eligible, Medicare helps cover the cost of a range of medical services:<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9679; free or cheaper treatment by doctors, specialists, optometrists, and in some cases dentists and health practitioners<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9679; low cost medicine<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#9679; free treatment and accommodation in a public hospital<br />

</p>
